.link-badge {
  color: #fff;
  line-height: 16px;
  text-shadow: 0 1px 2px #a32d29;
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #c9312d;
}
.link-badge-badge-wrapper {
  position: relative;
  right: 4px;
  top: -12px;
  margin-right: -20px;
  margin-bottom: -8px;
  display: inline-block;
}
body .tabs ul.primary,
ul.action-links li {
  margin-top: -9px;
  padding-top: 9px;
}
.link-badge {
  display: inline-block;
  margin-top: -10px;
}

@-moz-document url-prefix() {
  .link-badge {
    font-size: 85%;
    padding: 2px 4px 2px 4px;
  }
}